# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
